body{
    background-color: rgb(70, 45, 7);
    color: khaki ;
}
a:visited{
    color: antiquewhite;
}
a{
    color: aqua
}
a:hover{
    color: hotpink
}
.recipes{
    background-color: blue;
}
li{
    color: red;
}
/* .header{
    color: bisque;
} */
.test{
    color: darkgreen;
}